.layout-container{
  display: grid;
  padding: 2rem;
  background-color: white;
  box-shadow: 1rem 0.5rem 0.5rem #888ea4;
  grid-template-columns: 10rem auto 15rem;
  margin-bottom: 1rem;

  &__action{  display: flex;
    gap: 1rem;
    margin-left: auto;
    align-items: center;}

  &__title{
    margin: auto;
  }
}

