<div class="layout-container">
    <button
            class="layout-container__action"
            tuiButton
            type="button"
            (click)="addAnnotation.emit()"
    >
        Добавить анотацию
    </button>
    <h1 class="layout-container__title">{{ title() | upperCaseFirst }}</h1>
    <div class="layout-container__action">
        {{ zoomFactor() }}
        <div tuiGroup>
            <button
                    appearance="primary"
                    iconStart="@tui.plus"
                    title="Увеличить"
                    tuiIconButton
                    type="button"
                    (click)="upZoom()"
            >
            </button>
            <button
                    appearance="primary"
                    iconStart="@tui.minus"
                    title="Уменьшить"
                    tuiIconButton
                    type="button"
                    [disabled]="blockDownZoom()"
                    (click)="downZoom()"
            >
            </button>
        </div>
        <button tuiButton appearance="primary" (click)="save.emit()"> Сохранить</button>
    </div>
</div>
