<tui-loader
        [showLoader]="showLoader()"
        [overlay]="true"
        size="xxl"
        class="loader"
>
    @if (document$ | async; as document) {
        <app-document-viewer-layout-component
                [title]="document.name"
                (save)="saveDocument(document)">
        </app-document-viewer-layout-component>
        <div class="pages">
            <div appZoomChange class="pages_content">
                @for (page of document.pages; track page.imageUrl) {
                    <app-page-view [page]="page"></app-page-view>
                }
            </div>
        </div>
    }
</tui-loader>

